@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #1e1a20;
  font-size: 16px;

  z-index: 0;

  overflow-x: hidden;

  --mobile-viewport-min: 320;
  --mobile-desktop-breakpoint: 768;
  --desktop-viewport-max: 1500;

  --mobile-font-size-min: 12;
  --mobile-font-size-max: 16;
  
  --desktop-font-size-min: 16;
  --desktop-font-size-max: 24;

  font-size: calc(var(--mobile-font-size-min) * 1px);

  @media screen and (min-width: 320px) {    
    font-size: calc(var(--mobile-font-size-min) * 1px + (var(--mobile-font-size-max) - var(--mobile-font-size-min)) * ((100vw - var(--mobile-viewport-min) * 1px) / (var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))));
  }

  @media screen and (min-width: 768px) {    
    font-size: calc(var(--desktop-font-size-min) * 1px + (var(--desktop-font-size-max) - var(--desktop-font-size-min)) * ((100vw - var(--mobile-desktop-breakpoint) * 1px) / (var(--desktop-viewport-max) - var(--mobile-desktop-breakpoint))));
  }

  @media screen and (min-width: 1500px) {    
    font-size: calc(var(--desktop-font-size-max) * 1px);
  }
}
body {
  font-family: 'Montserrat';
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  inset: 0;
  background: black;
  z-index: 1000;
  opacity: 0;
  transition: opacity 2s ease; /* плавный фейд */

  &.hidden {
    opacity: 0;
    pointer-events: none; 
  }
}
.title {
  font-size: 10em;
  opacity: 1;
  transition: opacity 2s ease 1s; /* появление позже */

  &.visible {
    opacity: 1;
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

  z-index: 1;
}


section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100vh;
  position: relative;
  color: #ffeded;

  padding: 1em 2em 1em 2em;

  @media screen and (max-width: 768px) {
    padding: 1em 0.2em 1em 0.2em;
  }

  h2 {
    width: 100%;
    display: block;
    text-align: center;
  }

  p {
    font-size: 1.4em;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#intro {
  display: flex;
  flex-direction: column;

  align-items: center;

  z-index: 0;

  h1 {
    font-size: 10em;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 6em;
    }
  }
}

#name {
  display: flex;
  flex-direction: column;

  align-items: center;

  z-index: 2;
  
  h2 {
    font-weight: 600;
    font-size: 4em;
    line-height: 0.9em;
    
    background: linear-gradient(135deg, #FB9032, #FFD14F, #F7C874);
    

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    
    opacity: 1;
  }

  p {
    font-size: 1.6em;
    font-weight: 600;

    padding-bottom: 0.5em;

    background: linear-gradient(90deg, #FB9032, #FFD14F, #F7C874);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
  }
}

#still {
  width: 20em;
  z-index: 2;

  @media screen and (max-width: 768px) {
    width: 16em;
  }

  h2{
    font-size: 3em;
    text-align: left;
    padding-bottom: 0.5em;
  }

  p {
    text-align: left;

    b {
      background: linear-gradient(135deg, #FD9700, #ffb921, #ff48b9, #93efff);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
    }
  }
}



#warmth {
  height: 150vh;
  z-index: 2;
  
  h2{
    font-size: 3em;
    text-align: left;
    padding-bottom: 0.5em;
  }
  p {
    text-align: left;
    margin-bottom: 2em;
  }

  .scroll-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    
    border-radius: 2em;


    figure {
      width: 25em;
      height: 25em;
      border-radius: 2em;

      flex-shrink: 0;

      overflow: hidden;
      background-color: #2b282c;

      img {
        height: 100%;
      }
    }
  }
}

#warmth .scroll-row {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}
#warmth .scroll-row::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */
}

#warmth .scroll-buttons-container {
  display: block;
  width: 100%;
  
}

#warmth .scroll-buttons-container .scroll-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1em;
}

#warmth .scroll-buttons button {
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  border: none;
  background: #444444;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  opacity: 1;
  transition: background 0.3s, opacity 0.3s;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  svg {
    height: 45%;
    width: 45%;
    padding-left: 0.2em;

    stroke: #e7d4d4;
    stroke-width: 2px;
  }

  &:first-child svg {
    transform: rotate(180deg);
  }
}
#warmth .scroll-buttons button:hover {
  svg {
    stroke: #ffffff;
  }
}
#warmth .scroll-buttons button:disabled {
  opacity: 0.4;
  cursor: auto;
  background: #888;

  
}

#scroll-points {
  li {
    display: inline;
    text-align: left;
    font-size: 2.8em;
    font-weight: 700;
    opacity: 0.2;

    transition: opacity 0.3s ease;

    &.active {
      display: inline;
      text-align: left;
      font-size: 2.8em;
      font-weight: 700;
      opacity: 1;
    }

    @media screen and (max-width: 768px) {
      font-size: 2em;
      &.active {
        font-size: 2em;
      }
    }

    b {
      font-weight: 700;
      background: linear-gradient(135deg, #FD9700, #ffb921, #ff48b9);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
    }
  }
}

#cards {
  flex-direction: row;
  font-size: 0.7em;
  height: 20em;

  gap: 2.5%;

  div {
    position: relative;
    padding: 0.3em;
    border-radius: 1.5em;
    
    width: 22.5%;
    height: 100%; 
    
    background: linear-gradient(45deg,  #FB9032, #FFD14F, #F7C874, #99BACA, #005EEA);
    
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 1.3em;
      background-color: #1e1a20;

      h3 {
        font-size: 2em;
        font-weight: 600;
  
        position: absolute;
        top: 0.5em;
        left: 0.5em;
      }
      p {
        text-align: left;

        width: 10em;
        height: 5em;
  
        position: absolute;
        bottom: 1.5em;
        left: 0.7em;
      }
    }
  }
}

#ritual {

  h2{
    font-size: 3em;
    padding-bottom: 0.5em;
  }
}

#features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

  gap: 2em;
  z-index: 2;

  

  div {
    flex: 1 1 200px;
    overflow: visible;
    text-align: center;
    justify-content: center;

    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 1.5em;

      background: linear-gradient(90deg, #FB9032, #FFD14F, #F7C874);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
    }

    p {
      justify-content: center;
      text-align: center;
      font-size: 1em;
      overflow: visible;
    }
  }
}